@import "vars";
@import "fonts";
@import "global";


.message__form{
    width: 660px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
    &-title{
        font-size: 24px;
        margin-bottom: 20px;
        white-space: nowrap;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
    }
    &-label{
        color: rgb(26, 26, 26);
        line-height: 1.3;
        display: block;
        margin-bottom: 10px;
    }
    &-input{
        width: 100%;
        margin-bottom: 20px;
        color: rgb(26, 26, 26);
        padding: 16px 10px;
        border: 1px solid #63555560;
        border-radius: 3px;
        font-size: 18px;
        transition: all ease .4s;
    }
    &-input::placeholder{
        color: #63555560;
    }
    &-area:focus,
    &-input:focus {
        outline: none;
        border: 1px solid #303891;
    }
    &-area{
        width: 100%;
        font-size: 18px;
        line-height: 1.3;
        color: rgb(26, 26, 26);
        padding: 10px;
        padding-left: 25px;
        min-height: 200px;
        resize: none;
        overflow: hidden;
        border: 1px solid #63555560;
        border-radius: 3px;
        background-color: transparent;
        margin-bottom: 20px;
    }
    &-button{
        display: inline-block;
        padding: 10px 23px;
        font-size: 18px;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: #303891;
        line-height: 1.3;
        cursor: pointer;
        transition: all ease .4s;
        width: 160px;
        text-align: center;
    }
    &-button:hover{
        background-color: #1d2469;
    }
    &-inner{
        position: relative;
    }
    &-errors{
        position: absolute;
        bottom: -28px;
        right: 0;
        display: block;
        color: #fff;
        font-size: 16px;
        background-color: #c40e1d;
        max-width: 500px;
        padding: 10px;
        border-radius: 8px;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.4s;
    }
    &-errors.visible{
        opacity: 1;
        visibility: visible;
    }
    &-errors::before{
        content: '';
        width: 12px;
        height: 12px;
        background-color: #c40e1d;
        position: absolute;
        top: -7px;
        right: 30%;
        z-index: 9;
        transform: rotate(45deg);
    }
}
.form__input.alert{
    border-color: #c40e1d;
}
